body {
  	min-width:400px;
	min-height:150px;
  	overflow-x:hidden;
  	padding: 10px;
    background: -webkit-gradient(linear, 0 0, 0 30%, from(#dedede), to(white));
    font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
	height: 200px;
}

input[type='submit']{
	border-style:none;
	background: #91bd09 url(images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

input[type='submit']:hover{ 
	background-color: #749a02;
	color: #fff;
}

input[type='text'], textarea{
	padding: 3px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 250px;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

input:hover, input:focus, textarea:hover, textarea:focus{
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}


a{
	color: #999999;
	text-decoration:none;
	font-size:10px;
}

.label{
	color: #999999;
	font-family: 'ChunkFive Regular',Tahoma,Helvetica;
	font-size:12px;
	font-weight:bold;
}

#menu{
	width: 96%;
	margin-bottom: 20px;
	font-size:14px;
}

#menu ul{
	-webkit-border-radius: 5px; 
	-webkit-box-shadow: 4px 4px 10px #232323;
	list-style: none;
	margin: auto;
	background-color: black;
	padding: 5px;
}

#menu li {
	display: inline;
	color: white;
	font-weight: bold;
	margin-left: 15px;
}

#menu li:hover{
	color: #87cc04;
	cursor: pointer;
}

#contact_response, #sms_response{
	color: #999999;
	font-family: 'ChunkFive Regular',Tahoma,Helvetica;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	margin-top:5px;
	margin-bottom: 20px;
}

#about table{
	font-size:12px;
	font-weight: bold;
	color: #999999;
}


img {
  border:3px solid white;
  width:100px;
  border-radius:5px;
  margin-bottom:20px;
}